.panel-body{
    padding-bottom: 0px;
}
.container{
    margin-top: 20px;
}
.form-control {
    height: 35px;
}

form {
    width:500px;
    margin-bottom: 20px;
    margin-left: 20px;
}
